* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
}

body {
  font-family: 'Raleway', sans-serif;
}

main {
  margin: 0 6rem;
/*   height: 100vh; */
  margin:40px;
}

.navbar {
  display: flex;
  padding: 2rem;
  gap: 4rem;
  background: black;
    position:fixed;
  top:0;
  width:100%;
  z-index:1;
  color: grey;
}

.active {
  color:white;
  border-bottom:2px solid white;
}

h1 {
  font-size:9rem;
}

.desc1 {
    font-size:4.8rem;
  font-size: 200;
  margin-bottom: 4.8rem;
    color:grey;
  }

.nav-items {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 200;
}

.grid-container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  justify-content: center;
  margin-top: 9rem;
  align-items: center;
}

.item1 {
  width:100%;
}

.desc-joke {
  margin-top:2rem;
  font-size: 4rem;
  width:100%;
  font-weight: 300;
}

.user-content {
  display: flex;
  gap: 25px;
/*   justify-content: center; */
  align-items:center;
  margin:30px 5rem;
  border-bottom: 1px solid #d4d3d3;
  padding-bottom: 3rem;
}

.card-details {
  display:flex;
  flex-direction: column;
}

.card-flex {
  display:flex;
  align-items:center;
  gap:10px;
}

.user-h1 {
  margin:8rem 6rem 0 6rem;
  font-size:6rem;
}

.icon {
  color:orange;
  font-size:1.8rem;
}

.location {
  text-transform: uppercase;
  font-size: 1.2rem
}

.user-picture {
  width: 160px;
  height: 220px;
  object-fit: cover;
  border-radius: 20px;
}

.name {
  font-weight:500;
  font-size: 3.6rem;
  margin: 15px 0 25px 0;
}

.dob {
  font-weight:700;
  font-size: 1.5rem;
  margin-bottom:10px;
}

.email, .phone-no {
  font-size: 1.6rem;
}

.back-home {
  margin-top:2rem;
  display:inline-flex;
  align-items:center;
  gap:1rem;
  padding:1.5rem;
  border: 1px solid black;
  border-radius:.3rem;
  font-size:1.6rem;
  text-decoration:none;
  color:black;
}

.osita {
  max-width:100%;
}

.current-page {
  font-size: 2rem;
  font-weight: 400;
  margin-left:6rem;
}

.pagination-container, .pagination {
  display:flex;
  gap: .4rem;
}

.pagination-container {
  margin-bottom: 4rem;
  margin-left:6rem;
}

.strong {
  font-size: 2rem;
  font-weight: 700
}

button {
  padding:.7rem 1.4rem;
  font-size: 1.3rem;
  background:white;
  outline:none;
  border:1px solid grey;
}

button:hover {
  cursor:pointer;
}

button:focus {
  background: #d2ecfa;
  font-weight:700;
}

@media only screen and (max-width: 800px){
/* 	.page-container {   
  margin:20px;
  margin-top:30px;
} */
  .user-content {
    
  margin:20px 2rem;
  }
  
  .user-picture {
  width: 120px;
  height: 170px;
  }

  .name {
  font-size: 2.4rem;
  margin: 10px 0 15px 0;
  }

  .location {
  font-size:1.2rem;
  }

  .grid-container {
    margin-top:10rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
    text-align: center;
}

  h1, {
  font-size:6rem;
}

  .user-h1 {
    font-size:4rem;
    margin-left:2rem;
  }

  .desc1 {
    font-size:2.7rem;
    color:grey;
  }
.desc-joke {
  margin-top:2rem;
  font-size: 2.5rem;
  width:100%;
  font-weight: 300;
}

.item2 {
  margin-top:2rem;
  display: flex;
  justify-content:center;
}

  .osita {
    width:400px;
  }
}